<!doctype html>
<html>
<title> Create Customer</title>
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='createcustomerstyle.css') }}">
</head>
<body>
        <div class="navbar">
                <a href="#home">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">Customer Management 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">Create Customer</a>
                      <a href="#">Delete Customer</a>
                      <a href="#">Update Customer</a>
                      
                      
                    </div>
                </div> 
                
                <div class="dropdown">
                  <button class="dropbtn">Account Management 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="#">Create Account</a>
                    <a href="#">Delete Account</a>
                    
                  </div>
                </div> 

                <div class="dropdown">
                  <button class="dropbtn">Status Details 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="#">View Customers Status List</a>
                    <a href="#">View Accounts Status List</a>
                  </div>
                </div>

                <a href="#logout">Logout</a>
                
              </div>      
              
<div id="main-part">
<h1 style="text-align: center; padding-top: 20px">Create Customer</h1>
<div id="frm">
    <div id="frm_in">
  <form action="/" onsubmit="return validate()" method="POST" name="CreateCustomerForm">
    <label for="cust_id">Customer SSN id:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" id="cust_id" name="cust_id">

    <label for="cust_name">Customer Name:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" id="cust_name" name="cust_name">

    <label for="cust_age">Age:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="number" name="cust_age" id="cust_age"><br>

    <label for="cust_address_1">Address Line 1:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" name="cust_address_1" id="cust_address_1">
    
    <label for="cust_address_2">Address Line 2:</label>
    <input type="text" name="cust_address_2" id="cust_address_2">

    <label for="cust_state">State:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" name="cust_state" id="cust_state">
    
    <label for="cust_city">City:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" name="cust_city" id="cust_city">
  <div>
    <input type="submit" value="Submit"><span>
    <input style="float: right" type="reset" value="Reset">
</div>
</form>
</div>
</div>
</div>
<!-- Bootstrap jQuery, Popper.js, and our own JavaScript plugins-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script> 
		function validate()                                    
		{ 
			var cust_id = document.forms["CreateCustomerForm"]["cust_id"];                 
			var cust_name = document.forms["CreateCustomerForm"]["cust_name"];  
            var cust_age = document.forms["CreateCustomerForm"]["cust_age"];
            var cust_address_1 = document.forms["CreateCustomerForm"]["cust_address_1"];
            var cust_address_2 = document.forms["CreateCustomerForm"]["cust_address_2"];
            var cust_state = document.forms["CreateCustomerForm"]["cust_state"];
            var cust_city = document.forms["CreateCustomerForm"]["cust_city"];
			if (cust_id.value == "")                                  
			{ 
				window.alert("Please enter Customer's SSN Id"); 
				cust_id.focus(); 
				return false; 
			} 
            if (cust_name.value == "")                                  
			{ 
				window.alert("Please enter Customer's Name"); 
				cust_name.focus(); 
				return false; 
			} if (cust_age.value == "")                                  
			{ 
				window.alert("Please enter Customer's Age"); 
				cust_age.focus(); 
				return false; 
			} if (cust_address_1.value == "")                                  
			{ 
				window.alert("Please enter Customer's address"); 
				cust_address_1.focus(); 
				return false; 
			} if (cust_state.value == "")                                  
			{ 
				window.alert("Please enter Customer's State"); 
				cust_state.focus(); 
				return false; 
			} if (cust_city.value == "")                                  
			{ 
				window.alert("Please enter Customer's City"); 
				cust_city.focus(); 
				return false; 
			} 
			
			return true; 
		}</script> 

</body>


</html>
