<!doctype html>
<html>
<title> Create Customer</title>
<head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='createcustomerstyle.css') }}">
</head>
<body>
    <div id="delete_cust_modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <h3>Delete Customer</h3>
          <form action="/" onsubmit="return delete_search_validate()" method="POST" name="Delete-SearchCustomerForm">

            <label for="d_search_ws_ssn">Customer SSN id:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
            <input type="text" id="d_search_ws_ssn" name="d_search_ws_ssn">
            OR<br><br>
            <label for="d_search_ws_id">Customer Id:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
            <input type="text" id="d_search_ws_id" name="d_search_ws_id">
            <input type="submit" value="Submit">
          </form>
        </div>
      
      </div>

      <div id="update_cust_modal" class="modal">

          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <h3>Update Customer</h3>
            <form action="/" onsubmit="return update_search_validate()" method="POST" name="Update-SearchCustomerForm">
  
              <label for="u_search_ws_ssn">Customer SSN id:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
              <input type="text" id="u_search_ws_ssn" name="u_search_ws_ssn">
              OR<br><br>
              <label for="u_search_ws_id">Customer Id:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
              <input type="text" id="u_search_ws_id" name="u_search_ws_id">
              <input type="submit" value="Submit">
            </form>
          </div>
        
        </div>


        <div class="navbar">
                <a href="#home">Home</a>
                <div class="dropdown">
                    <button class="dropbtn">Customer Management 
                      <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                      <a href="#">Create Customer</a>
                      <a id="delete_cust">Delete Customer</a>
                      <a id="update_cust">Update Customer</a>
                      
                      
                    </div>
                </div> 
                
                <div class="dropdown">
                  <button class="dropbtn">Account Management 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="#">Create Account</a>
                    <a href="#">Delete Account</a>
                    
                  </div>
                </div> 

                <div class="dropdown">
                  <button class="dropbtn">Status Details 
                    <i class="fa fa-caret-down"></i>
                  </button>
                  <div class="dropdown-content">
                    <a href="#">View Customers Status List</a>
                    <a href="#">View Accounts Status List</a>
                  </div>
                </div>

                <a href="/logout">Logout</a>
                
              </div>      
              
<div id="main-part">
<h1 style="text-align: center; padding-top: 20px">Create Customer</h1>
<div id="frm">
    <div id="frm_in">
  <form action="/" onsubmit="return validate()" method="POST" name="CreateCustomerForm">
    <label for="ws_ssn">Customer SSN id:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="number" id="ws_ssn" name="ws_ssn">

    <label for="ws_name">Customer Name:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" id="ws_name" name="ws_name">

    <label for="ws_age">Age:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="number" name="ws_age" id="ws_age"><br>

    <label for="ws_adrs_1">Address Line 1:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" name="ws_adrs_1" id="ws_adrs_1">
    
    <label for="ws_adrs_2">Address Line 2:</label>
    <input type="text" name="ws_adrs_2" id="ws_adrs_2">

    <label for="ws_state">State:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" name="ws_state" id="ws_state">
    
    <label for="ws_city">City:<span style="color: rgba(255, 0, 0, 0.589)">*</span></label>
    <input type="text" name="ws_city" id="ws_city">
  <div>
    <input type="submit" value="Submit"><span>
    <input style="float: right" type="reset" value="Reset">
</div>
</form>
</div>
</div>
</div>
<!-- Bootstrap jQuery, Popper.js, and our own JavaScript plugins-->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script> 
		function validate()                                    
		{ 
			var ws_ssn = document.forms["CreateCustomerForm"]["ws_ssn"];                 
			var ws_name = document.forms["CreateCustomerForm"]["ws_name"];  
            var ws_age = document.forms["CreateCustomerForm"]["ws_age"];
            var ws_adrs_1 = document.forms["CreateCustomerForm"]["ws_adrs_1"];
            var ws_adrs_2 = document.forms["CreateCustomerForm"]["ws_adrs_2"];
            var ws_state = document.forms["CreateCustomerForm"]["ws_state"];
            var ws_city = document.forms["CreateCustomerForm"]["ws_city"];
			if (ws_ssn.value == "")                                  
			{ 
				window.alert("Please enter Customer's SSN Id"); 
				ws_ssn.focus(); 
				return false; 
			} 
      if(ws_ssn.value.length < 9) 
				{
					window.alert("The Customer's SSN ID should have a minimum of 9 digits"); 
					ws_ssn.focus();
					return false;
				}	
        
            if (ws_name.value == "")                                  
			{ 
				window.alert("Please enter Customer's Name"); 
				ws_name.focus(); 
				return false; 
			} if (ws_age.value == "")                                  
			{ 
				window.alert("Please enter Customer's Age"); 
				ws_age.focus(); 
				return false; 
			}
      if(ws_age.value.length > 3) 
				{
					window.alert("The Customer's age should have a maximum of 3 digits"); 
					ws_age.focus();
					return false;
				}	
        if(ws_age.value < 1) 
				{
					window.alert("The Customer's age can't be negative or 0"); 
					ws_age.focus();
					return false;
				}	
       if (ws_adrs_1.value == "")                                  
			{ 
				window.alert("Please enter Customer's address"); 
				ws_adrs_1.focus(); 
				return false; 
			} if (ws_state.value == "")                                  
			{ 
				window.alert("Please enter Customer's State"); 
				ws_state.focus(); 
				return false; 
			} if (ws_city.value == "")                                  
			{ 
				window.alert("Please enter Customer's City"); 
				ws_city.focus(); 
				return false; 
			} 
			
			return true; 
		}
    function delete_search_validate()                                    
		{ 
			var d_search_ws_ssn = document.forms["Delete-SearchCustomerForm"]["d_search_ws_ssn"];                 
			var d_search_ws_id = document.forms["Delete-SearchCustomerForm"]["d_search_ws_id"];  
      
			if (d_search_ws_ssn.value == "" && d_search_ws_id.value == "")                                  
			{ 
				window.alert("Please enter Customer's SSN Id or Customer's Id"); 
				search_ws_ssn.focus(); 
				return false; 
			} 
      return true;
    }

    function update_search_validate()                                    
		{ 
			var u_search_ws_ssn = document.forms["Update-SearchCustomerForm"]["u_search_ws_ssn"];                 
			var u_search_ws_id = document.forms["Update-SearchCustomerForm"]["u_search_ws_id"];  
      
			if (u_search_ws_ssn.value == "" && u_search_ws_id.value == "")                                  
			{ 
				window.alert("Please enter Customer's SSN Id or Customer's Id"); 
				u_search_ws_ssn.focus(); 
				return false; 
			} 
      return true;
    }

    </script> 
        <script>
        // Get the modal
        var delete_cust_modal = document.getElementById("delete_cust_modal");
        var update_cust_modal = document.getElementById("update_cust_modal");

        // Get the button that opens the modal
        var delete_cust = document.getElementById("delete_cust");
        var update_cust = document.getElementById("update_cust");

        // Get the <span> element that closes the modal
        var delete_cust_close = document.getElementsByClassName("close")[0];
        var update_cust_close = document.getElementsByClassName("close")[1];

        // When the user clicks the button, open the modal 
        delete_cust.onclick = function() {
          delete_cust_modal.style.display = "block";
        }
        update_cust.onclick = function() {
          update_cust_modal.style.display = "block";
        }

        // When the user clicks on <span> (x), close the modal
        delete_cust_close.onclick = function() {
          delete_cust_modal.style.display = "none";
        }
        update_cust_close.onclick = function() {
          update_cust_modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == delete_cust_modal) {
            delete_cust_modal.style.display = "none";
          }
        }
        window.onclick = function(event) {
          if (event.target == update_cust_modal) {
            update_cust_modal.style.display = "none";
          }
        }
      </script>
</body>


</html>
